body {
    padding:0;
    margin:0;
    overflow:hidden;
	height: 600px;
}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
}
main {
    position: relative;
    margin: 0 auto;
    Padding: 20px;
    resize: both;
    overflow: auto;
}
h1 {
    width: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 35%;
    left: 50%;
    padding: 20px;
    resize: both;
    overflow: auto;
}
