body {
    padding:0;
    margin:0;
    overflow:hidden;
	height: 600px;
}
canvas {
    padding:0;
    margin:0;
}
main {
    position: relative;
        margin: 0 auto;
    Padding: 20px;
    resize: both;
    overflow: auto;
}
h1 {
    text-align: center;
    width: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 35%;
    left: 50%;
    padding: 20px;
    resize: both;
    overflow: auto;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
}

/* Place the navbar at the bottom of the page, and make it stick */
    .navbar {
        background-color: transparent;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
/* Style the links inside the navigation bar */
  .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        background-color: hsla(292, 39%, 15%, 0.56);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
  /* Change the color of links on hover */
  .navbar a:hover {
        background-color: #ddd;
        color: black;
  }
  /* Add a color to the active/current link */
  .navbar a.active {
        background-color: #e09090;
        color: white;
  }
/* Style all font awesome icons */
  .navbar.fa {
        padding: 20px;
        font-size: 30px;
        length: 48px;
        width: 48px;
        text-align: center;
        text-decoration: none;
  }
     
/* Set a specific color for each brand */
/* Facebook */
    .navbar .fa-facebook {
    background: #3B5998;
    color: white;
    }
  /* Git */
    .navbar .fa-git-square {
    color: white;
    }
  /* Linkedin */
    .navbar .fa-linkedin {
      background: #2867B2
    }
  /* youtube */
    .navbar .fa-youtube {
      background: red
    }

